In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = 'nav', password = 'sargun@1234')

In [4]:
connection = connector.connect(user = 'nav', password = 'sargun@1234', database = 'littlelemondb')

In [5]:
cursor = connection.cursor()

In [6]:
cursor.execute("""SHOW TABLES;""")

In [7]:
results = cursor.fetchall()

In [8]:
for result in results:
    print(result)

('bookings',)
('customers',)
('menu',)
('orders',)
('orderstatus',)
('ordersview',)
('staff',)

In [9]:
select_query = """SELECT CONCAT(customers.FirstName, ' ', customers.LastName) AS FullName, customers.Email, orders.TotalCost FROM customers
INNER JOIN orders ON customers.BookingID = orders.BookingID WHERE orders.TotalCost > 60;"""

In [10]:
cursor.execute(select_query)

In [12]:
print(cursor.column_names)
results = cursor.fetchall()
for result in results:
    print(result)

('FullName', 'Email', 'TotalCost')
('Navraj Kalsi', 'navraj@email.com', Decimal('90.00'))